main {
    padding: 2%;
}
        
section {
    margin-bottom: 3%;
    background-color: ; 
    border-radius: 10px;
    padding: 2%;
    box-shadow: ;
    transition: transform 0.3s ease; 
}
        
section:hover {
    transform: translateY(-5px); 
}
        
section h2 {
    font-size: xx-large;
    color: white;
    border-bottom: ;
    padding-bottom: 1%;
    margin-bottom: 2%;
}

section h1 {
    font-size: xx-large;
    color: white;
    border-bottom: ;
    padding-bottom: 1%;
    margin-bottom: 2%;
}
        
section p {
    font-size: x-large;
    color: white;
}

#container a{
    color: white;
}

#container a:hover {
    color: gold;
}
